/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    min-height: 100vh;
    line-height: 1.4;
    transition: transform .5s ease;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #cacaca;
    padding: 6px;
    outline: none;
    border-radius: 6px;
}

.centered-form button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

.centered-form button {
    background: #6b47b8;
}

.centered-form button {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
    position: relative;
}

.chat__sidebar {
    color: white;
    background: #333744;
    position: relative;
    height: 100vh;
    flex: 1;
    padding: .5em;
    width: 500px;
    overflow-y: scroll
}

@media screen and (max-width: 1024px) {
    .chat__sidebar {
      flex: 1.45;
    }
  }
  
  @media screen and (max-width: 750px) {
    .chat__sidebar {
      flex: 2;
    }
  }
  
  @media screen and (max-width: 565px) {
    .chat__sidebar {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateX(-100%);
      display: inline-block;
      width: 200px;
    }
  
  .chat {
    display: inline-block;
  }
  
    .chat__main {
      width: 100vw;
      height: 100vh;
    }
  }

@media screen and (max-width: 350px) {
    .chat__sidebar {
        flex-grow: 3;
    }
}

.animate {
    transform: translateX(200px);
  }

/* Chat styles */

.chat__main {
    position: relative;
    flex: 4;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    position: relative;
    overflow-y: scroll;
}

.bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: black;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: left; */
    z-index: -1;
}

.info__button__container {
    background: rgba(255,255,255,.3);
    color: black;
    padding: .8em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
}

@media screen and (min-width: 566px) {
    .info__button__container {
        display: none;
    }
}

@media screen and (max-width: 365px) {
    .info__button__container {
        align-items: center;
        justify-content: center;
        gap: .75em;
    }
}

svg {
    cursor: pointer;
    transition: transform .3s ease;
}

svg:hover {
    transform: scale(1.1);
}

.icon__info {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 14px;
    color: white;
}

@media screen and (max-width: 540px) {
    .icon__info {
        font-size: 12px;
    }
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message{
    margin-bottom: 16px;
}

.message p {
    margin-top: 6px;
}

.message__content {
    word-wrap: break-word;
    color: white;
    font-size: 16px;
    margin-left: 16px;
    display: inline-block;
    max-width: 100%;
}

@media screen and (max-width: 375px) {
    .message__content {
        font-size: 13px;
    }
}

.message__name {
    font-size: 16px;
    margin-right: 8px;
    color:crimson
}

.message__meta {
    color: skyblue;
    font-size: 14px;
}

.message a {
    margin-left: 15px;
    display: inline-block;
    max-width: 100%;
    color: #8a7b91;
    word-wrap: break-word;
}

@media screen and (max-width: 405px) {
    .message a {
        font-size: 13px;
    }
}

/* Message Composition Styles */

.compose {
    position: sticky;
    left:0;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 25px;
}

.compose #socketForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.compose #socketForm button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: .75em;
    cursor: pointer;
    margin-left: .5em;
}

#socketForm #message-input{
    padding: .75em;
    margin-left: .5em;
    border: none;
    resize: none;
    border-radius: 5px;
    background: rgba(255,255,255,.75); 
    flex: 2;
}

::placeholder {
    color: black;
}

#message-input:focus {
    outline: none;
}

.compose #send-location {
    display: flex; 
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: .5em;
    cursor: pointer;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}
