/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    min-height: 100vh;
    line-height: 1.4;
    transition: transform .5s ease;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #cacaca;
    padding: 6px;
    outline: none;
    border-radius: 6px;
}

::placeholder {
    color: black;
}

/* styling the scrollbar */
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: black;
}

::-webkit-scrollbar
{
  width: 8px;
  background-color: black;
}

::-webkit-scrollbar-thumb
{
  border-radius: 14px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #D62929;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bd4747;
}

.centered-form button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

.centered-form button {
    background: #6b47b8;
}

.centered-form button {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
    position: relative;
}

.chat__sidebar {
    color: black;
    background: white;
    position: relative;
    height: 100vh;
    flex: 1;
    width: 500px;
    overflow-y: scroll
}

@media screen and (max-width: 1024px) {
    .chat__sidebar {
      flex: 1.45;
    }
  }
  
  @media screen and (max-width: 750px) {
    .chat__sidebar {
      flex: 2;
    }
  }
  
  @media screen and (max-width: 565px) {
    .chat__sidebar {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateX(-100%);
      display: inline-block;
      width: 200px;
    }
  
  .chat {
    display: inline-block;
  }
  
    .chat__main {
      width: 100vw;
      height: 100vh;
    }
  }

@media screen and (max-width: 350px) {
    .chat__sidebar {
        flex-grow: 3;
    }
}

.animate {
    transform: translateX(200px);
  }

/* Chat styles */

.chat__main {
    position: relative;
    flex: 4;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    position: relative;
    overflow-y: scroll;
}

.bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: black;
    z-index: -1;
}

.room__container__l {
    width: 100%;
    border-bottom: thin solid white;
    padding: 1em; 
    background: black;
}

@media screen and (max-width: 565px) {
    .room__container__l {
        display:none;
    }
}

.room__container__l .room__title__l {
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: .5em;
    font-weight: 400;
    font-size: 22px;
}

.info__button__container {
    color: white;
    padding: .8em;
    width: 100vw;
    background: black;
    border-bottom: thin solid white;
}

.info__button__container div {

    margin-left: 1em;
}

.info__button__container div .room__info__button {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    background: white;
    color: black;
}

#room__title {
    display: inline-block;
    margin-left: .65em;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

@media screen and (min-width: 566px) {
    .info__button__container {
        display: none;
    }

    /* .info__button__container {
        position: absolute;
        top: 0;
        left: 0;
    } */
}

@media screen and (max-width: 365px) {
    #room__title {
        font-size: 15.5px;
    }

    .info__button__container div {
        gap: 2em;
    }
}

svg {
    cursor: pointer;
    transition: transform .3s ease;
}

svg:hover {
    transform: scale(1.1);
}

.icon__info {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 14px;
    color: white;
}

@media screen and (max-width: 540px) {
    .icon__info {
        font-size: 12px;
    }
}

.chat__messages {
    flex-grow: 1;
    padding: 16px 24px 0;
    overflow-y: scroll;
}

/* Message Styles */

.message{
    margin-bottom: 16px;
}

.message p {
    margin-top: 6px;
}

.message__content {
    word-wrap: break-word;
    color: white;
    font-size: 18px;
    margin-left: 16px;
    display: inline-block;
    max-width: 100%;
}

@media screen and (max-width: 375px) {
    .message__content {
        font-size: 13px;
    }
}

.message__name {
    font-size: 18px;
    margin-right: 8px;
    color:crimson
}

.message__meta {
    color: skyblue;
    font-size: 16px;
}

.message a {
    margin-left: 15px;
    display: inline-block;
    max-width: 100%;
    color: #8a7b91;
    word-wrap: break-word;
}

@media screen and (max-width: 600px) {
    .message a {
        font-size: 15px;
    }

    .message__meta {
        font-size: 12px;
    }

    .message__content {
        font-size: 15px;
    }

    .message__name {
        font-size: 15px;
    }
}

/* Message Composition Styles */

.compose {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 25px 16px;
    border-top: thin solid white;
    padding-top: 16px;
}

@media screen and (max-width: 420px) {
    .compose {
        padding: 16px 20px 0;
    }
}

.compose #socketForm {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
}

.compose #socketForm button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: .75em;
    cursor: pointer;
    margin-left: .5em;
    flex-grow: 0;
}

#socketForm #message-input{
    padding: .75em;
    margin-left: .5em;
    border: none;
    resize: none;
    border-radius: 5px;
    background: rgba(255,255,255,.75); 
    flex-grow: 1;
}

#message-input:focus {
    outline: none;
}

.compose #send-location {
    display: flex; 
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: .5em;
    cursor: pointer;
    flex:3;
}

@media screen and (max-width: 500px) {
    #send-location {
        flex:5;
        border:thin solid red;
    }
}

/* Chat Sidebar Styles */

.room-info {
    background: white;
    padding: 12px;
    border: thin solid black;
    margin: .5em;
}

.room-name {
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
}

.room-name:focus {
    outline: none;
}

/* @media screen and (max-width: 430px) {
    .room-title {
        font-size: 18px;
    }
} */

.list-title {
    border-top: thin solid black;
    font-weight: 500;
    font-size: 20px;
    padding: 12px 24px 0 24px;
}

@media screen and (max-width: 430px) {
    .list-title {
        font-size: 16px;
    }
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
    font-size: 14px;
}

@media screen and (max-width: 430px) {
    .users {
        font-size: 14px;
    }
}

